@font-face
{
	font-family:Dottie;
	src:url(https://sites.google.com/site/maharanisitema/file/styles/ufonts.com_dottie.ttf);
  src:url(https://sites.google.com/site/maharanisitema/file/styles/ufonts.com_dottie_1_.eot);
  src:url(https://sites.google.com/site/maharanisitema/file/styles/ufonts.com_dottie.woff);
}

@font-face
{
	font-family:Digital7;
	src:url(https://sites.google.com/site/maharanisitema/file/styles/ufonts.com_digital-7.ttf);
  src:url(https://sites.google.com/site/maharanisitema/file/styles/ufonts.com_digital-7.woff);
}
